/* html, body
{
    height: 100%;
} */

.login{
    width: 30%;
    background-color: rgba(216, 227, 228, 0.973);
    
}

.login input{
    border: 1px solid rgb(118, 119, 113);
    border-radius: 10px;
    text-align: center;
    height: 25px;
}

.reset{
    color: rgb(128, 89, 18);
}

.reset:hover{
    color: blue;
    cursor: pointer;
}


@media screen and (max-width: 600px) {

   .login{
      width: 80%;
      margin: 5%;
     
   }
  }
